<div class="mdl-card mdl-shadow--2dp listen-rooms-card" ng-style="roomCover(room)">
  <div class="mdl-card__title mdl-card--expand">
      <h4 class="e-slogan m-font__lato--thin">{{ room.name }}</h4>
      <h6 class="s-private__room m-font__lato--thin" ng-if="room.status === 'private'">private</h6>
  </div>
  <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect m-font__lato--thin" href="/room/{{ room.alias }}">Enter</a>
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect m-font__lato--thin" ng-click="removeRoom(room.id, $index)" ng-if="room.owner === user.id">Delete</a>
  </div>
</div>