<div class="mdl-grid">
    <section class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--12-col-phone m-box--align-center">
        <form class="m-create-room__form" ng-init="roomType = 'private'">
            <h2 class="e-slogan color--light-blue m-font__lato--thin m-inline--align-center">Create Room</h2>
            <span class="e-label">Room Type</span>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="public" ng-click="roomType = 'public'">
                <input type="radio" id="public" class="mdl-radio__button" name="room_type">
                <span class="mdl-radio__label m-font__lato--thin">Public</span>
            </label>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="private" ng-click="roomType = 'private'">
                <input type="radio" id="private" class="mdl-radio__button" name="room_type" checked>
                <span class="mdl-radio__label m-font__lato--thin">Private</span>
            </label>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input m-font__lato--thin" type="text" id="room_id" ng-model="roomId">
                <label class="mdl-textfield__label m-font__lato--thin" for="room_id">Room ID</label>
            </div>
            <span class="s-error-message m-font__lato--thin" ng-if="error === 'room_id'">Room ID is required.</span>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" ng-style="{ display: roomType === 'private' ? 'block' : 'none' }">
                <input class="mdl-textfield__input m-font__lato--thin" type="password" id="password" ng-model="roomPassword">
                <label class="mdl-textfield__label m-font__lato--thin" for="password">Password</label>
            </div>
            <span class="s-error-message m-font__lato--thin" ng-if="error === 'password'">Password is required for private room.</span>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-button--full-transparent m-font__lato--thin" type="button" ng-click="create()">Create</button>
        </form>
    </section>
</div>