<div class="mdl-grid m-section__header" ng-if="checkRoom !== false">
    <section class="mdl-cell mdl-cell--10-col mdl-cell--4-col-phone m-section__header s-background--transparent">
        <h1 class="e-slogan m-inline--align-center m-font__lato--thin color--light-blue" ng-bind="room.name"></h1>
        <form class="m-join-room__form" ng-if="checkRoom === 'login'">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input m-font__lato--thin" type="password" id="password" ng-model="room.password">
                <label class="mdl-textfield__label m-font__lato--thin" for="password">Password</label>
            </div>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-button--full-transparent m-font__lato--thin" type="button" ng-click="join()">Join</button>
            <br>
            <span class="s-error-message m-font__lato--thin" ng-if="error === 'password'">Password is invalid.</span>
        </form>
    </section>
    <video-bg class="video-player--masker" video-id="$parent.youtubeId" content-z-index="999" loop="false" mute="false" mobile-image="'/assets/images/logo.svg'" player-callback="$parent.videoCallback(player)" state-callback="$parent.playerStateChange(event)"></video-bg>
</div>
<div class="mdl-grid" ng-if="checkRoom === true">
    <section class="mdl-cell mdl-cell--10-col mdl-cell--4-col-phone m-box--align-center">
    	<form class="m-add-url__form" action="#">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input m-font__lato--thin" type="url" id="url" pattern="^(([^:/?#]+):)?(//([^/?#]*))?([^?#]*)(\?([^#]*))?(#(.*))?" ng-model="song.url">
                <label class="mdl-textfield__label m-font__lato--thin" for="url">Youtube URL</label>
            </div>
            <span class="s-error-message m-font__lato--thin" ng-if="error === 'url'">URL is invalid.</span>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-button--full-transparent m-font__lato--thin" type="button" ng-click="add()">Add To Playlist</button>
        </form>
    </section>

    <section class="mdl-cell mdl-cell--8-col mdl-cell--12-col-phone m-box--align-center">
    	<table class="mdl-data-table mdl-js-data-table room-playlist__table">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric color--light-blue m-font__lato--thin song-cover">Cover</th>
              <th class="mdl-data-table__cell--non-numeric color--light-blue m-font__lato--thin song-title">Title</th>
              <th class="color--light-blue m-font__lato--thin song-dj">DJ</th>
              <th class="color--light-blue m-font__lato--thin song-remove">&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr class="song {{ $parent.playingStatus.id === song.id ? 'playing' : '' }}" ng-repeat="song in songs track by $index">
              <td class="mdl-data-table__cell--non-numeric song-cover" style="background-image: url({{ song.cover }});" ng-click="play($event, $index)">
                <i class="material-icons {{ $parent.playingStatus.id === song.id ? 'color--light-blue' : '' }} icon--floating">play_circle_filled</i>
              </td>
              <td class="mdl-data-table__cell--non-numeric m-font__lato--thin song-title">{{ song.name }}</td>
              <td class="m-font__lato--thin song-dj">{{ song.dj }}</td>
              <td class="m-font__lato--thin song-remove">
                <button class="mdl-button mdl-js-button mdl-button--icon" ng-click="remove($index)">
                  <i class="material-icons">cancel</i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
    </section>
</div>
