* {
    font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: rgb(26, 37, 47);
    color: $font-color;
}

a {
    text-decoration: none;
}

.m-- {
	margin: 0;
}

.mt- {
	margin-top: 0;
}

.mb- {
	margin-bottom: 0;
}

.ml- {
	margin-left: 0;
}

.mr- {
	margin-right: 0;
}

.p-- {
	padding: 0;
}

.pt- {
	padding-top: 0;
}

.pb- {
	padding-bottom: 0;
}

.pl- {
	padding-left: 0;
}

.pr- {
	padding-right: 0;
}

.color--light-blue {
	color: $light-blue !important;
}
.s-error-message {
	color: rgb(255, 64, 129);
	font-size: 0.86rem;
}
.m-font__lato--thin {
    font-family: 'Lato', 'Helvetica', 'Arial', sans-serif !important;
    font-weight: 300 !important;
}
.m-box--align-center {
    margin: {
        left: auto !important;
        right: auto !important;
    }
}

.m-inline--align-center {
	text-align: center !important;
}

.mdl-textfield__input,
.mdl-textfield__label {
    color: $font-color;
}
.m-button--full-transparent {
	width: 100%;
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, 0.34);
	color: $font-color;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
