@import "compass/reset";
@import "compass/css3";
@import "shared";
@import "fonts";

$font-color: #ededed;
$light-blue: rgb(57, 182, 235);

@import "modules/material";
@import "modules/animation";
@import "modules/layout";
@import "modules/incompatibleBrowser";
@import "modules/loader";

@import "base";

/* Hack */
.mdl-textfield__input {
	border-bottom-color: rgba(255, 255, 255, 0.12);
}
/* Hack */

#loader {
	width: 100%;
}
.mdl-layout-title {
	width: 100px;
	height: auto;
	outline: none;
}
.m-signup__form,
.m-account__form {
	text-align: center;
	.e-slogan {
		text-transform: uppercase;
	}
	.e-description {
		margin: 0.8rem 0
	}
	.mdl-textfield {
		width: 100%;
	}
}
.m-join-room__form,
.m-add-url__form {
	text-align: center;
	.mdl-textfield {
		width: 40%;
	}
	.m-button--full-transparent {
		width: auto;
		margin-left: 1rem;
	}
}
.m-add-url__form .mdl-textfield {
	width: 60%;
}
.m-create-room__form {
	.mdl-textfield {
		width: 100%;
	}
	label[for="private"] {
		margin-left: 1rem;
		margin-bottom: 0.66rem;
	}
	.e-label {
		margin-right: 1rem;
	}
}
.m-section__header,
.m-section__navigation {
	@extend .m-box--align-center;
	position: relative;
	overflow: hidden;
}

.m-section__header {
	min-height: 24rem;
	background-color: rgb(26, 37, 47);
	&.s-background--transparent {
		background: transparent;
		min-height: 36rem;
		z-index: 1111 !important;
	}
}

.m-section__navigation {
	.e-slogan {
		margin-left: 16px;
	}
}
.user__name:hover {
	.user__menu {
		display: block;
	}
}
.user__menu {
	position: absolute;
	top: 5%;
	padding: 0 1rem;
	border: 1px solid $light-blue;
	-o-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	display: none;
	li {
		margin: 0.8rem 0;
	}
}

.m-link__card {
	text-align: center;
	color: $font-color;
	display: inline-block;
	overflow: hidden;
	width: 100%;
	.e-description {
		font-size: 1.22rem;
	}
	&:hover {
		.muzikdj-card {
			border: 1px solid $light-blue;
		}
		.e-description {
			color: $light-blue;
		}
	}
}
.muzikdj-card {
	background-color: rgba(0, 0, 0, 0.3);
	&.mdl-card {
		width: 100%;
		min-height: auto;
		height: auto;
		padding-bottom: 100%;
		cursor: pointer;
		margin: {
			left: auto;
			right: auto;
			bottom: 0.5rem;
		}
	}
}

.listen-rooms-card {
	width: 90%;
	height: auto;
	margin: {
		left: auto;
		right: auto;
	}
	background: {
		image: none;
		position: center center;
		repeat: no-repeat;
		color: white;
	}
	-ms-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	.mdl-card__actions {
		background-color: rgba(0, 0, 0, 0.66);
	}
	.mdl-card__title {
		-webkit-box-pack: justify;
	    -moz-box-pack: justify;
	    -ms-flex-pack: justify;
		-webkit-justify-content: flex-end;
		justify-content: flex-end;
		padding: 20.5% 16px;
		background-color: rgba(255, 255, 255, 0.36);
	}
	.s-private__room {
		color: rgb(255, 64, 129);
		font-size: 0.86rem;
		margin: {
			top: 0.5rem;
			left: 0.5rem;
		}
	}
	&:hover {
		.mdl-card__title {
			background-color: rgba(255, 255, 255, 0.66);
		}
	}
}

.room-playlist__table {
	background: transparent;
	width: 100%;
	margin: 0 auto;
	th, td {
		font-size: 1rem;
		vertical-align: middle;
	}
	th {
		font-size: 1.226rem;
	}
	tbody tr {
		&:hover {
			background: rgba(57, 182, 235, 0.3);
		}
		&.playing {
			border-left: 2px solid $light-blue;
		}
	}
	.song {
		cursor: pointer;
	}
	.song-cover {
		width: 10rem;
		text-align: center;
	}
	td.song-cover {
		padding-bottom: 7.5rem;
		background: {
			color: #333333;
			repeat: no-repeat;
			position: center center;
			image: none;
		}
		-ms-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
		position: relative;
		overflow: hidden;
		.icon--floating {
			position: absolute;
			font-size: 5rem;
			top: 1.75rem;
			left: calc(50% - 2.5rem);
			opacity: 0.5;
		}
	}
	.song-title {
		width: calc(100% - 27rem);
	}
	.song-dj {
		width: 10rem;
	}
	.song-remove {
		width: 2rem;
	}
}

.video-player--masker::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url(/assets/images/dot_masker.png) left bottom repeat rgba(0, 0, 0, 0.36);
	z-index: 1000;
}
