<div class="mdl-grid">
    <section class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--12-col-phone m-box--align-center">
        <form class="m-signup__form">
            <h2 class="e-slogan color--light-blue m-font__lato--thin">Login</h2>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input m-font__lato--thin" type="text" id="email" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" ng-model="email">
                <label class="mdl-textfield__label m-font__lato--thin" for="email">Email</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input m-font__lato--thin" type="password" id="password" ng-model="password">
                <label class="mdl-textfield__label m-font__lato--thin" for="password">Password</label>
            </div>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-button--full-transparent m-font__lato--thin" type="button" ng-click="login()">Login</button>
			<p class="e-description m-font__lato--thin"><a href="/signup">Does not have account?</a></p>
        </form>
    </section>
</div>